:root{
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}
body{
    background-color: seashell;
}

#info{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.bars{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 1.6rem;
    height: 20px; 

}
.bar{
    display: inline-block;
    width: 200px; 
    height: 100%; 
    border: solid black 2px;
    display: inline-block; 
    position: relative; 
    top: 3px;
    --width: 50%;
    --value: "0";


}
#player1-bars div .bar::after{
    content: var(--value);
    position: absolute;
    left: 108%;
    top: -3px;
}
#player1-bars div .bar::before{
    content: "";
    position: absolute;
    width: var(--width);
    height: 100%;
    background-color: #6AA5F5;
    left: 0%;   
    transition: width 300ms;
   
}
#player2-bars div .bar::after{
    content: var(--value);
    position: absolute;
    left: -15%;
    top: -3px;
}
#player2-bars div .bar::before{
    
    content: "";
    position: absolute;
    width: var(--width);
    height: 100%;
    background-color: #EE4E38;
    left: calc(100% - var(--width));
    transition: width 300ms, left 300ms;
    
}
#log{
    transform: translateY(10px);
    width: 500px;
    height: 300px;
    overflow: hidden;
    text-align: center;
    white-space: scroll;
    border-radius: 5%;
    box-shadow: 0px 0px 0px 3px seashell;
    transition: box-shadow 500ms linear;
}
#log:hover{
    box-shadow: 0px 0px 40px 5px white;
}
#log p{
    font-size: larger;
    color: red;
}


.image-container{
    position: absolute;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
#kid2-container{
    top: 45vh;
    left: 75vw;
    height: 400px;
}
#kid1-container{
    top: 45vh;
    left: 5vw;
}

h1{
    position: absolute;
    font-size: 10rem;
    color: darkred;
    top: 30vh;
    left: 35vw;
    opacity: 1;
    cursor: pointer;
}
h1:hover{
    opacity: .7;
}
h3{
    text-align: center;
    font-size: x-large;
    
}
#kid1-container h3{
    color: #6AA5F5;
}
#kid2-container h3{
    color: #EE4E38;
}
#move-container{
    position: absolute;
    background-color: white;
    border: solid black 10px;
    width: 35vw;
    height: 30vh;
    left: 33%;
    top: 50%;
}
ol{
    text-align: center;
    width: 50%;
    margin-left: 20%;
}
li{
    font-weight: bold;
    margin-bottom: 10%;
    font-size: 1.5rem;
    cursor: pointer;
}
li:hover{
    text-decoration: underline;
}